.App{
    margin:0;
    width: 100%;
}

/* .mealsContainer{
    margin:5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    column-gap: .5rem;
    border-radius: 10px;
}

@media (max-width: 750px){
    .mealsContainer{
        margin:3rem 2rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 450px){
    .mealsContainer{
        margin:2rem 1rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 375){
    .mealsContainer{
        margin:1rem;
        grid-template-columns:1fr;
    }
} */